body {
  margin: 0;
  height: 100%;
  --main-color: rgb(64,224,208);
  --accent-color: #9E9E9E;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
header {
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #000 100%);
  height: 50px;
}
header div {
  display: flex;
  line-height: 50px;
}
.title, nav a {
  margin-right: 50px;
  text-decoration: none;
}
nav a {
  color: white;
  font-size: 27px;
}

@media (max-width: 850px) {
  #navigation {
    display: none;
  }
}
.title {
  color: var(--main-color);
  font-size: 40px;
}


section {
  min-height: 90vh;
}

main section > div, .centered {
  max-width: 1200px;
  margin: auto;
}

section:nth-child(2n) {
  background-color: #a8a8a8;
}

.cheers, h2 {
  color: var(--main-color);
  margin: 0;
  font-weight: 100;
  text-align: center;
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
}

h2 {
  font-size: 5vw;
  color: black;
}

@media (max-width: 850px) {
  h2 {
    font-size: 10vw;
  }
}

h3 {
  font-size: 2vw;
  text-align: center;
  color: white;
}

button {
  border-radius: 4px;
  text-align: center;
  border: 2px solid black;
  background-color: transparent;
  padding: 7px 15px;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
}

button:active {
  transform: scale(0.9);
}

.cheers {
  font-size: 20vw;
}
/* 4k screens are this wide :O */
@media (min-width: 2000px) {
  .cheers {
    font-size: 350px;
  }
}

.intro > div {
  margin: auto;
  display: block;
}

.intro::after {
  content: "";
  background: url("images-optimized/cheers.png") no-repeat center;
  background-size: 33%;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; 
  z-index: -1;
  position: absolute;
}

#counter {
  display: flex;
  font-size: 3vw;
}
@media (max-width: 850px) {
  #counter {
    font-size: 5vw;
  }
}
#counter > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.photo-columns {
  display: flex;
  flex-wrap: wrap;
}
.photo-columns h3 {
  color: white;
  font-size: 3vw;
}

.leaderboard {
  flex: 1;
  margin: 0;
  min-width: 400px;
}

.leaderboard ol {
  font-size: 1vw;
  margin-left: 50px;
}

@media (max-width: 500px) {
  .leaderboard {
    min-width: 100%;
  }
  .leaderboard ol{
    font-size: 25px; 
  }
  h3 {
    font-size: 6vw;
  }
}
/* 4k screens are this wide :O */
@media (min-width: 2000px) {
  .leaderboard ol {
    font-size: 75px;
  }
}

.photos {
  flex: 2;
  min-width: 400px;
}
@media (max-width: 450px) {
  .photos {
    min-width: 100%;
  }
}
.photos nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.photos nav a {
  font-size: 1vw;
  margin-right: 1vw;
}

.actual-photos {
  display: none;
  flex-wrap: wrap;
  text-align: center;
}
.photos nav :hover {
  color: var(--main-color);
}

.photos button {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  margin: 20px auto;
  max-width: 180px;
  color: white;
  padding: 20px 30px;
  background-color: var(--main-color);
  box-shadow: white 0 0 0 0 inset;
}

.photos button:hover {
  color: var(--main-color);
  box-shadow: white 0 0 0 40px inset;
}

.actual-photos > div {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
  margin-right: 5px;
  min-width: 190px;
}
.actual-photos img {
  width: 250px;
}
@media (max-width: 520px), (min-width: 800px) and (max-width: 910px) {
  .actual-photos > div {
    width: 100%;
  }
  .actual-photos img {
    margin: auto;
  }
}

#begun-text {
  padding-top: 200px
}

#monday img{
  height: 300px;
  width: auto;
}

@media (max-width: 400px) {
  #monday img{
    height: auto;
    width: 80%;
  } 
}

#program .content {
  display: flex;
  flex-wrap: wrap;
}
#program .days {
  flex: 1;
  min-width: 400px;
}
@media (max-width: 400px) {
  #program .days {
    min-width: 100%;
  }
}
#program .extra-info {
  flex: 2;
  min-width: 300px;
}
#program h4 {
  text-align: center;
  display: block;
  color: var(--main-color);
  font-size: 25px;
}
#program .days > div > div {
  display: flex;
  justify-content: space-around;
}
#program .days button {
  margin: 8px auto;
  max-width: 120px;
  color: white;
  padding: 10px 15px;
  background-color: var(--accent-color);
  box-shadow: var(--main-color) 0 0 0 0 inset;
}
#program .days button:hover {
  box-shadow: var(--main-color) 0 0 0 40px inset;
}
#program .content {
  display: flex;
}
#program h3 {
  text-align: center;
}
.details-info-message + .details-list {
  display: none;
}
.details-list, .buy-tickets-now {
  text-align: center;
}

.shoutouts {
  display: flex;
  height: 250px;
  align-items: center;
}
.shoutouts h3 {
  flex: 1;
  text-align: center;
  font-size: 3vw;
}

#committee > div {
  max-width: 100%;
}

@media (max-width: 600px) {
  .shoutouts {
    display: flex;
    flex-direction: column;
  }
  .shoutouts h3 {
    font-size: 6vw;
  }
}

.committee-members {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  justify-content: center;
}
.committee-members > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 200px;
  max-width: 250px;
}
.committee-members img {
  border-radius: 50%;
  width: 80%;
  margin: auto;
}

@media (max-width: 1400px) {
  .committee-members > div {
    min-width: 300px;
    margin: auto;
  }
}
