@font-face {
    font-family: '321perfectregular';
    src: url('321perfect-webfont.eot');
    src: url('321perfect-webfont.eot?#iefix') format('embedded-opentype'),
         url('321perfect-webfont.woff') format('woff'),
         url('321perfect-webfont.ttf') format('truetype'),
         url('321perfect-webfont.svg#321perfectregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.carousel-inner > .item > .container > img{
	margin-top: 75px;
	margin-left: auto; 
	margin-right: auto;
	width: 90%;
}
/*.scroll-nav > .scroll-nav__wrapper {
background: transparent;
margin: 0 auto;
padding: 0 0 0 0;
font-family: georgia, serif;

}*/


/*.scroll-nav__wrapper {
background: #f0e7d7;
margin: 0 auto;
padding: 1em 0 0 0;
font-family: georgia, serif;
text-transform: lowercase;
}*/

/* to stretch the container div to contain floated list */
/*.scroll-nav > .scroll-nav__wrapper:after
{
content: ".";
display: block;
line-height: 1px;
font-size: 1px;
clear: both;

}

.scroll-nav > .scroll-nav__wrapper > ol
{
float: left;
list-style: none;
padding: 0;
margin: 0 auto;
width: 80%;
font-size: 1.2em;

}


.scroll-nav > .scroll-nav__wrapper > .scroll-nav__list  li
{
display: block;
/*float: left;
*//*width: 15%;
margin: 0;
padding: 0;
}

.scroll-nav > .scroll-nav__wrapper > .scroll-nav__list  li a
{
display: block;
width: 100%;
padding: 0.7em;
background: transparent;
color: #777777;
font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.scroll-nav > .scroll-nav__wrapper > .scroll-nav__list  li a:hover/*,
.scroll-nav > .scroll-nav__wrapper > .scroll-nav__list:focus  li a *//*{
  color: #ffffff;
  background-color: transparent;
}
*/
/*.post__article > .scroll-nav__section > .container{ 
	width:  90% !important; 
}*/

#planning img {
	width: 100%;
}

#planning > .col-md-2{
	/*padding-left: 2px !important; 
	padding-right: 2px !important;*/
	/*width: 14%; */
	
}

#planning{
	font-family: "321perfectregular";
	color: rgb(7,56,120); 
	/*src: url(../fonts/MyriadPro-It.eot);*/ /*if IE */
    

}

/*.scroll-nav > .scroll-nav__wrapper >ol.scroll-nav > .scroll-nav__wrapper:after > .scroll-nav__list  li a { width: auto; }

ol.scroll-nav > .scroll-nav__wrapper:after > .scroll-nav__list  li.scroll-nav > .scroll-nav__wrapper:after > .scroll-nav__list > .scroll-nav__item a
{
background: #f0e7d7;
color: #800000;
}

ol.scroll-nav > .scroll-nav__wrapper:after > .scroll-nav__list  li a:hover, ol.scroll-nav > .scroll-nav__wrapper:after > .scroll-nav__list  li.scroll-nav > .scroll-nav__wrapper:after > .scroll-nav__list > .scroll-nav__item a:hover
{
color: #800000;
background: transparent;
border-color: #aaab9c #fff #fff #ccc;
}
*/

/*
.scroll-nav{
    display: none;
}

.scroll-nav > .scroll-nav__wrapper > span{
	float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar > .navbar-header > a{
	float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
/*
nav class="scroll-nav">
    <div class="scroll-nav__wrapper">
        <span class="scroll-nav__heading">
        <ol class="scroll-nav__list">
            <li class="scroll-nav__item"> 
                <a class="scroll-nav__link">

*/ 