/* Fonts */

@font-face {
    font-family: intro;
    src: url("../font/intro.eot") /* EOT file for IE */
}
@font-face {
    font-family: intro;
    src: url("../font/intro.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
    font-family: content;
    src: url("../font/content.eot") /* EOT file for IE */
}
@font-face {
    font-family: content;
    src: url("../font/content.ttf") /* TTF file for CSS3 browsers */
}

/* General */

body {
    background: #FFF;
    font: normal 18px 'content', sans-serif;
    overflow-y:scroll;
}

::-webkit-scrollbar {
    display: none;
}

/* Headers */

h1 {
    color: #DAA520;
    font: normal 24vw 'intro', sans-serif;
}

h2 {
    margin-top: 7vh;
    color: #DAA520;
    font: normal 5vw 'intro', sans-serif;
}

h3 {
    margin-top: 5vh;
    text-align: center;
    color: #DAA520;
    font: normal 5vw 'intro', sans-serif;
}

h4 {
    font-size: 3vw;
    text-align: center;
    color: #FFF;
}

.eventSubtitle {
    font-size: 24px;
    color: #DAA520;
}

/* Sections */

#splash {
    width: 100%;
    margin-top: 75px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    visibility: visible;
}

#updates, #committe {
    width: 100%;
    margin-top: 0;
    box-sizing: border-box;
    position: relative;
}

.fitSlide {
    margin-top: 50px;
}

/* Subsections */

.pageTitle {
    color: #DAA520;
    text-align: center;
    line-height: 50px;
    font: normal 5vw 'intro', sans-serif;
}

.counter {
    margin: 0 auto;
    width: 90vw;
}

.datepart {
    width: 18%;
    color: #000;
    text-align: center;
    display: inline-block;
    font: normal 5vw 'intro', sans-serif;
}

.updatesBoard {
    width: 100vw;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    height: 40vw;
    margin: 5px auto;
    background-color: #226700;
    padding-bottom: 5%;
    padding-right: 10px;
    white-space: nowrap;
}

.update {
    width: 30vw;
    height: 90%;
    margin-top: 1%;
    padding: 20px;
    text-align: left;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    display: inline-block;
    white-space: normal;
    color: #FFF;
}

.glyphUpdate {
font-size: 2vw;
}

#ranking {
    text-align: center;
}

#programOverview {
    text-align: center;
}

#recentUpdateTitle, #importantUpdateTitle, #rankingTitle,
#programOverviewTitle, #eventDetailsTitle, #signUpTitle {
width: 2vw;
margin: 0 auto;
text-align: center;
overflow-x: hidden;
white-space: nowrap;
}

.updateText, .programText {
overflow-y: scroll;
max-height: 480px;
width: 98%;
float: left;
}

.programBoard {
width: 100vw;
min-height: -webkit-fit-content;
min-height: -moz-fit-content;
height: 40vw;
margin: 5px auto;
background-color: #8D0000;
padding-bottom: 5%;
padding-right: 10px;
white-space: nowrap;
}

.program {
    width: 30vw;
    height: 90%;
    margin-top: 1%;
    padding: 20px;
    text-align: center;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    display: inline-block;
    white-space: normal;
    color: #FFF;
}

.boardCenter {
margin: 0 auto;
width: 100vw;
width: -webkit-fit-content;
width: -moz-fit-content;
}

.photoBoard {
width: 100vw;
min-height: -webkit-fit-content;
min-height: -moz-fit-content;
height: 40vw;
    margin: 5px auto;
    background-color: #002F8D;
    padding-bottom: 5%;
    padding-right: 10px;
    white-space: nowrap;
}

/* Containers */

.photoPart {
    width: 13.5vw;
    color: #DAA520;
    font-size: 2vw;
    text-align: center;
    display: inline-block;
}

.photoCircle {
    height: 10vw;
    width: 10vw;
    margin: auto;
    border-radius: 50%;
    background-color: #DAA520;
}

.innerPhotoCircle {
    margin: 2.5% auto;
    height: 9.5vw;
    width: 9.5vw;
    border-radius: 50%;
    transition: ease-out 0.3s;
}

.innerPhotoCircle:hover {
    margin: 0 auto;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    transition: ease-out 0.3s;
}

.committeeRole {
    width: 30vw;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    margin-top: 8vh;
    margin-left: 5vh;
    display: inline-block;
    font-size: 400%;
    color: #FFF;
    vertical-align: top;
    line-height: 200%;
}

#committeeInfo {
    width: 30vw;
    min-height: 150px;
    min-min-height: 150px;
    max-height: 480px;
    margin-top: 10vh;
    margin-left: 5vh;
    text-align: left;
    white-space: normal;
    display: inline-block;
    color: #FFF;
    border-left: 1px solid white;
    padding-left: 5%;
    overflow-y: scroll;
}

#infoText {
    display: table-cell;
    vertical-align: middle;
    min-height: -webkit-fit-content;
    min-min-height: -moz-fit-content;
}

/* a */

#title {
    color: #DAA520;
}

.programText > a {
    color: #FFF;
    cursor: pointer;
    transition: ease-out 0.3s;
    text-decoration: underline;
}

.programText > a:hover {
    color: #DAA520;
    transition: ease-out 0.3s;
}

/* Buttons */

#title, .navbarButton {
    border: 0px;
    color: #9d9d9d;
    height: 51px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    background-color: transparent;
    transition: ease-in-out 0.3s;
    
}

#title:hover, .navbarButton:hover {
    color: #DAA520 !important;
    cursor: pointer;
}

.splashbtn {
    color: transparent;
    border-color: transparent;
    overflow: visible;
    left: 0;
    right: 0;
    bottom: 0;
    width: 8vh;
    min-width: 32px;
    height: 4.325vh;
    min-height: 18px;
    margin: auto;
    position: absolute;
    background: url("../img/owlarrow.png") no-repeat;
    background-size: contain;
    transition: ease-out 0.3s;
}

.splashbtn:hover {
    border-bottom: solid #DAA520 2px;
    background: url("../img/owlarrowg.png") no-repeat;
    background-size: contain;
    transition: ease-out 0.3s;
}


button:focus, button:active, input:focus, input:active {
    outline: none !important;
}

/* Images */

#splashChampagne {
    position: absolute;
    left: 0;
    right: 0;
    width: 61vw;
    height: auto;
    margin: auto;
    color: #000;
    z-index: -1;
}

/* Input */

.input-group {
    padding: 2px;
}