/* Fonts */

@font-face {
    font-family: intro;
    src: url("intro.eot") /* EOT file for IE */
}
@font-face {
    font-family: intro;
    src: url("intro.ttf") /* TTF file for CSS3 browsers */
}

/* General */

body {
    background: url("background.jpg");
    background-size: 103%;
    font: normal 14px 'ubuntu', sans-serif;
    overflow-y:scroll;
}

/* Headers */

h1 {
    margin: 51px auto;
    color: #DAA520;
    font: normal 24vw 'intro', sans-serif;
}

h2 {
    margin-top: 7vh;
    color: #DAA520;
    font: normal 5vw 'intro', sans-serif;
}

/* Sections */

#splash {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

/* Subsections */

#counter {
    margin: 0 auto;
    width: 90vw;
}

.datepart {
    width: 18%;
    color: #000;
    text-align: center;
    display: inline-block;
    font: normal 5vw 'intro', sans-serif;
}

/* Buttons */

#owlarrow {
    color: transparent;
    border-color: transparent;
    overflow: visible;
    left: 0;
    right: 0;
    bottom: 0;
    width: 8vh;
    min-width: 32px;
    height: 4.325vh;
    min-height: 18px;
    margin: auto;
    position: absolute;
    background: url("owlarrowg.png") no-repeat;
    background-size: contain;
    border-bottom: solid #DAA520 2px;
}

button:focus, button:active, input:focus, input:active {
    outline: none;
}

/* Images */

#splashChampagne {
    left: 0;
    right: 0;
    width: 61vw;
    height: auto;
    margin: 0 auto;
    color: #000;
    z-index: -1;
    position: absolute;
}